html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }
/*-----------------------------------------*/

/*
font-family: 'Montserrat', sans-serif;
*/

body {
    margin: 0;
}

.stranka {
    margin: 60px 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
}

h1,
h2 {
    color: black;
}

h1 {
    font-size: 28px;
    font-weight: 500;
}

.cestovani h1 {
    position: relative;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.cestovani h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: #407BFF;
    position: absolute;
    bottom: 0;
    left: 180px;
}



h2 {
    font-size: 16px;
    font-weight: 500;
}

p {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.cestovatel img {
    margin: 60px auto 40px auto;
    text-align: center;
    
    
}

.tlacitko a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding: 11px 30px;
    color: white;
    
}

.dobrodruzstvi a {
    background-color: #407BFF;
    margin-bottom: 10px;
    border-radius: 30px;
}

.pohoda a {
    background-color: #8B8B8B;
    border-radius: 30px;
}

.ikona {
    display: flex; 
    gap: 30px;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 15px; 
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px #407BFF1F;
    border-radius: 10px;
    
   
}

.ikonky {
    text-align: left;
}

 .pruh {
    margin-top: 60px;
 }







 @media screen and (min-width: 640px){

    .cestovani h1::after {
        bottom: 0;
        left: 250px;
    }


    .tlacitka {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    .ikona {
        display: block;
        padding: 40px 20px 20px 20px;
    }

    .ikonky {
        display: flex;
        gap: 20px;
        padding: 20px;
    }
 }





 @media screen and (min-width: 1100px){

    .cestovani h1::after {
        bottom: 0;
        left: 0px;
    }

    .stranka {
        max-width: 1040px;
        margin: 0 auto;
        text-align: left;
        /*padding: 80px;*/
    }

    .uvod {
        display: flex;
        gap: 60px;
    }

    .cestovani {
        order: 1;
        align-self: center;
        max-width: 490px;
        margin: 0 0 0 80px;
    }
    
    .cestovatel {
        order: 2;
        margin: 60px 100px 0 0;
        max-width: 490px;
    
    }

    .cestovalet img {
        max-width: 425px;
    }


    .tlacitka {
        justify-content: flex-start;
    }

    .pruh {
        display: flex;
        align-items: center;
        gap: 60px;
        margin-top: 80px;
    }

    .nase1 {
        order: 2;
        margin-right: 80px;

    }

    .nase2 {
        order: 1;
        margin-left: 80px;
    }

    .ikonky{
        text-align: center;
        flex-basis: 550px;
    }

    .sluzby {
        flex-basis: 430px;
    }

    .mistni1 {
        margin-left: 80px;
    }

    .mistni2 {
        margin-right: 80px;
    }

 }