html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }
/*-----------------------------------------*/

/*
font-family: 'Montserrat', sans-serif;
*/

.stranka {
    margin: 60px 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
}

h1,
h2 {
    color: black;
}

h1 {
    font-size: 28px;
    font-weight: 500;
}

h2 {
    font-size: 16px;
    font-weight: 500;
}

p {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.cestovatel img {
    margin: 60px auto 40px auto;
    
}

.tlacitko a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding: 11px 30px;
    color: white;
    
}

.dobrodruzstvi a {
    background-color: #407BFF;
    margin-bottom: 10px;
    border-radius: 30px;
}

.pohoda a {
    background-color: #8B8B8B;
    border-radius: 30px;
}

.ikona {
    display: flex; 
    gap: 30px;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 15px; 
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px #407BFF1F;
    border-radius: 10px;
    
   
}
 .pruh {
    margin-top: 60px;
 }







 @media screen and (min-width: 640px){

    .tlacitka {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    .ikona {
        display: block;
        padding: 40px 20px 20px 20px;
    }

    .ikonky {
        display: flex;
        gap: 20px;
        padding: 20px;
    }
 }





 @media screen and (min-width: 1100px){

    .stranka {
        max-width: 1040px;
        margin: 0 auto;
    }

    .uvod {
        display: flex;
    }

    .cestovani {
        order: 1;
        align-self: center;
        text-align: left;
        margin: 0 0 0 80px;
    }
    
    .cestovatel {
        order: 2;
        margin: 60px 100px 0 0;
    }

    .tlacitka {
        justify-content: flex-start;
    }

    .pruh {
        display: flex;
        align-items: center;
        margin-top: 80px;
    }

    .nase1 {
        order: 2;
    }

    .nase2 {
        order: 1;
    }


 }